html,
body {
  font-size: 62.5%;
}
.container {
  width: 120rem;
  margin: 0 auto;
}
.header {
  background: linear-gradient(269.91deg, rgba(46, 49, 146, 0.7) 0%, rgba(212, 20, 90, 0.7) 98.16%);
  transform: matrix(1, 0, 0, -1, 0, 0);
  padding-top: 2.3rem;
  padding-bottom: 2.6rem;
  color: #ffffff;
}
.header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
